{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Input Pengiriman Produk</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="produk" class="form-label">Produk</label>
            {{ form.produk|as_widget:class="form-control" }}
        </div>
        <div class="mb-3">
            <label for="alamat_pengiriman" class="form-label">Alamat Pengiriman</label>
            {{ form.alamat_pengiriman|as_widget:class="form-control" }}
        </div>
        <div class="mb-3">
            <label for="tanggal_pengiriman" class="form-label">Tanggal Pengiriman</label>
            {{ form.tanggal_pengiriman|as_widget:class="form-control" }}
        </div>
        <div class="mb-3">
            <label for="jumlah" class="form-label">Jumlah Produk</label>
            {{ form.jumlah|as_widget:class="form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
